@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #6d6de8; /* your purple color */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slideIn {
  animation: slideIn 0.35s ease-out forwards;
}

.animate-slideOut {
  animation: slideOut 0.35s ease-in forwards;
}

.input {
  @apply w-full
    rounded-md
    px-4 py-3
    text-black
    outline-none
    bg-white
    border border-transparent
    transition-all duration-200
    hover:bg-blue-100
    focus:border-indigo-400
    focus:ring-2
    focus:ring-indigo-400/30;
}
